@charset "UTF-8";

.board{
	margin: 3% auto;
	max-width: 41vw;
}
.icon{
	width:20vw;
	height:20vw;
	margin-left:1%;
	margin-top:1%;
 	border-radius: 12px;
    
    background-size: cover;
    float:left;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.icon p{
    font-size: 4vw;
    text-align: center;
    position:relative;
    top:18%;
    color:white;
}

.icon:hover{
    opacity: 1;
    filter: alpha(opacity=100);
}

@media screen and (max-width: 1500px) {
    .board{
        margin: 6vw auto;
        max-width: 50vw;
    }
   .icon {
        width:24vw;
        height:24vw;
    }
    .icon p{
	    top: 20%;
    }
}


@media screen and (max-width: 1200px) {
    .board{
        margin: 10vw auto;
        max-width: 60vw;
    }
    .icon {
        width:29vw;
        height:29vw;
    }
    .icon p{
	    top: 26%;
    }
	
}

@media screen and (max-width: 800px) {
	.board{
	 	margin: 18vw auto;
		max-width: 80vw;
	}
    .icon {
        width:38vw;
        height:38vw;
    }
    .icon p{
        font-size: 7vw;
	top: 22%;
    }
}

@media screen and (max-width: 600px) {
    .board{
        margin: 20vw auto;
        max-width: 80vw;
    }
}
